body {
 display: flex;   
 align-content: center;
 justify-content: center;
 background-color: #45b1e8;
}

.display {
    width: 325px;
    height: 80px;
    justify-self: center;
    justify-content: flex-end;
    background-color: rgba(252, 252, 252, 0.192);
    
}

.container {
    margin-top: 200px;
    display: flex;
    background-color: rgba(209, 200, 200, 0.5);
    flex-wrap: wrap;
    text-align: center;
    border: 3px solid goldenrod;
    border-radius: 25px;
    width: 400px;
    max-height: 675px;
    text-align: center;
    flex: 0 1 auto;
    margin-right: 1rem;
    margin-bottom: 1rem;
    justify-content: center;
    
}

button {
    width: 20%;
    height: 65px;
    margin: 2px;
    border-radius: 25px;
    font-weight: bold;
    font-size: 23px;
    color: forestgreen;
    border: 3px solid rgb(66, 211, 216);
}

#first, #last {
    
    width: 27%;
}

